PYTHONPATH=src
GROQ_API_KEY="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"
GROQ_API_MODEL="llama3-8b-8192"
GEMINI_API_KEY=""
GEMINI_API_MODEL=""
OPEN_API_KEY=""
OPEN_API_MODEL=""
LOCAL_EMBEDDING_MODEL="sentence-transformers/all-MiniLM-L6-v2"

QDRANT_URL="https://dbcd97cd-86a2-4039-993c-c27d21e6a725.us-east4-0.gcp.cloud.qdrant.io:6333"
QDRANT_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.txyK9sVixPgO8I_Ehkyyeo9Aw7DW8znWRusqXGJKr_c"